[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest-flask = "*"
pytest = "*"
pylint-flask = "*"

[packages]
flask = "*"
python-jose-cryptodome = "*"
requests = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
gunicorn = "*"
python-dotenv = "*"
flask-injector = "*"
flask-restplus = "*"

[requires]
python_version = "3.8.0"
